*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
    --cyan: #B5DDFF;
}

/* Common */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1150px;
    margin-inline: auto;
}

.btn{
    padding: 8px 16px;
    border-radius: 30px;
}

.btn-white{
    background-color: white;
}

.btn-blue{
    background-color: var(--blue);
}

/* Header */

nav{
    height: 80px;
    background-color: var(--blue);
    margin-bottom: 3rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.link-right{
    display: flex;
    gap: 2rem
}

.link-right li a{
    color: white;
}

.link-right .btn-white {
    color: black;
}

.menu{
    display: none;
}

.grid {
	--gapx: 1rem;
	--gapy: 2rem;
}

.cells {
	display: flex;
	flex-wrap: wrap;
}

/* .cell .content {
	height: 200px;
} */

/* .cell:nth-child(odd) .content {
	background-color: salmon;
}

.cell:nth-child(even) .content {
	background-color: gold;
}  */

.grid {
	overflow: hidden;
}

.cells {
	margin: 0 calc(-1 * var(--gapx) / 2) calc(-1 * var(--gapy));
}

.cell {
	flex-basis: 33.3333%;
	padding: 0 calc(var(--gapx) / 2) var(--gapy);    
}

.cell-big {
	flex-basis: 66.6666%;
}

.content{
    display: flex;
    background-color: var(--cyan);
    border-radius: 20px;

}

.content-left{
    padding-inline: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
}

.content-right{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.content-left h3{
    color: var(--blue);
}

.btn-blue{
    align-self: flex-start;
}

#white-apple{
    color: white;
}

.content-right img{
    width: 250px;
}

.content p{
    color: grey;
    font-weight: bold;
}



