*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
}

/* Common */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1150px;
    margin-inline: auto;
}

.btn{
    padding: 8px 16px;
    border-radius: 30px;
}

.btn-white{
    background-color: white;
}

/* Header */

nav{
    height: 80px;
    background-color: var(--blue);
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.link-right{
    display: flex;
    gap: 2rem
}

.link-right li a{
    color: white;
}

.link-right .btn-white {
    color: black;
}

.menu{
    display: none;
}

