*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif
}

:root{
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --yellow: #FDC15F;
}

ul{
    list-style: none;
}

.container{
    max-width: 1150px;
    margin-inline: auto;
}

nav{
    height: 80px;
    background-color: var(--blue);
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.link-right{
    display: flex;
    gap: 1rem
}

